.vs
.DS_Store
._*
tumbs.db
MKL*
*.MKL.*

*.obj

SCI_Exe/*
!SCI_Exe/IntLibs
!SCI_Exe/readme.md
*.recipe
*.log
*.lastbuildstate
*.tlog
*.idb

*.iobj
*.ipdb
*.pdb

TestProjects
SCI_Build/x64/Release/SCI_Build.vcxproj.FileListAbsolute.txt
SCI_Run/x64/Release/SCI_Run.vcxproj.FileListAbsolute.txt
*.STB

# Generated before build, so this can spook things up 
SCI_Run/srf/ID/Identify.ini


# The stuff created by C# that I definitely don't need
GenAPIHeader/bin
GenAPIHeader/Units
GenAPIHeader/obj
SCI_Run/srf/Script/ScyndiCore.lua
*.scyndi#
*.dblite
*.exe
x64/Release/APIHeader.exe
x64
qvmin.ps1
