*.scyndi linguist-language=Scyndi linguist-detectable=true
*.saskia linguist-language=SASKIA linguist-detectable=true
*.SASKIA linguist-language=SASKIA linguist-detectable=true
*.neil linguist-language=Neil linguist-detectable=true

