.vs
.DS_Store
._*
tumbs.db
MKL*
*.MKL.*

*.obj

SCI_Exe/*
!SCI_Exe/IntLibs
!SCI_Exe/readme.md
*.recipe
*.log
*.lastbuildstate
*.tlog
*.idb

*.iobj
*.ipdb
*.pdb

TestProjects
SCI_Build/x64/Release/SCI_Build.vcxproj.FileListAbsolute.txt
SCI_Run/x64/Release/SCI_Run.vcxproj.FileListAbsolute.txt
*.STB
